* {
    box-sizing: border-box;
}

/* Utilizar selector para aplicar propiedades a <body> */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Utilizar selector para aplicar propiedades a <header> */
header {
    background-color: #005f73;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Utilizar selector para aplicar propiedades a <nav> */
nav {
    background-color: #0a9396;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #005f73;
    border-radius: 5px;
}

/* Utilizar selector para aplicar propiedades a <main> */
main {
    float: left;
    width: calc(80% - 40px);
    margin: 10px 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Utilizar selector para aplicar propiedades a <aside> */
aside {
    float: left;
    width: calc(20% - 40px);
    margin: 10px 20px;
    background: #ddd;
    padding: 20px;
    border-radius: 8px;
}

/* Utilizar selector para aplicar propiedades a <footer> */
footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    clear: both;
}

#principal {
    background-color: #118299;
}

/* Utilizar selector para aplicar propiedades a la clase "fuenteArial" */
.fuenteArial {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}